<div class="content" role="main">
  <div style="text-align:center">
    <app-dado [num]="num1"></app-dado>
    <app-dado [num]="num2"></app-dado>
    <app-dado [num]="num3"></app-dado>
    <hr>
    <button (click)="tirar()">Tirar</button>
    <hr>
    <p>Resultado: {{result}}</p>
  </div>
  
  <br>
  <input class="my-input" type="text" [(ngModel)]="name" placeholder="Ingresa tu nombre">
  <br>
  <h3>Tu nombre es: {{ name }}</h3>
  <table>
    <thead>
      <tr class="tr">
        <td>
          Nombre
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of data.results">
        <td (click)="setName(result.name)">
          {{ result.name }}
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    <button (click)="next()">siguiente</button>
    <button (click)="previous()">anterior</button>
  </div>

</div>